<% if @date.nil? %>
  <div class="alert alert-block">
    <h4>Увага!</h4>
    <p>
  Вы ввели какую-то неправильную дату. На этом сайте все толковые даты начитаются в ХХ веке и заканчиваются текущей, сегодняшней. Древние времена и будущее рассмотрим как-нибудь потом.
    </p>
    <p>
      Ссылка на хорошую дату бывает одной из трех видов:
      <ol>
        <li>/date/YYYY</li>
        <li>/date/YYYY/MM</li>
        <li>/date/YYYY/spring|summer|autumn|winter</li>
        <li>/date/YYYY/MM/DD</li>
      </ol>
    </p>
    <p>
      По-другому тут не понимают.
    </p>
  </div>
<% else %>

  <% content_for :scripts do %>
  <% if !@potd.nil? && !@potd.lat.nil? %>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDVmaB8jQSw1xnSj6pnWcfi1hDhROnPZT0&sensor=false">
    </script>
    <script type="text/javascript">
      function initialize_map() {
        var photo_position = new google.maps.LatLng(<%= escape_html @potd.lat %>, <%= escape_html @potd.lon %>);
        var mapOptions = {
          center: photo_position,
          zoom: 13,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        var marker = new google.maps.Marker({
          position: photo_position,
          map: map,
          title: "Photo location"
        });
      }

      $(document).ready(function() {
        initialize_map();
      });
    </script>
  <% end %>

    <script type="text/javascript">
      // var disqus_developer = 1;
      var disqus_shortname = 'vozduh';
      var disqus_identifier = '<%= request.path_info %>';

     (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();

    </script>
  <% end %>

  <% 
    if @span.eql?(:day) && !@potd.nil? 
      prev_link = (potd_next = @potd.next) ? '<a href="/date/' + potd_next.exif_at.strftime('%Y/%m/%d') + '" style="text-decoration: none;">&#8672;</a>' : '<span style="color: grey">&#8672;</span>'
      next_link = (potd_prev = @potd.previous) ? '<a href="/date/' + potd_prev.exif_at.strftime('%Y/%m/%d') + '" style="text-decoration: none;">&#8674;</a>' : '<span style="color: grey">&#8674;</span>'
      year_ago_link = (potd_year_ago = @potd.year_ago) ? '&nbsp; <a href="/date/' + potd_year_ago.exif_at.strftime('%Y/%m/%d') + '">Этот день год назад.</a>' : ''
    else
      prev_link = ''
      next_link = ''
      year_ago_link = ''
    end
  %>

    <div class="span10">
      <h2><%= prev_link %> <%= (spell_date @date, @span).capitalize %> <%= next_link %></h2>
      Ежедневные фотографии московского неба и улиц. <%= year_ago_link %>
      <br />
      <br />
      <div class="row well">
        <% if !@potd.nil? %>
        <div class="span9" style="padding-bottom: 20px;">
          <a href="/potd/full/<%= @potd.file_name %>"><img src="/potd/medium/<%= @potd.file_name %>" border="0" width="786" height="587"/></a>
        </div>
      <% end %>

        <div class="span4" style="padding-left: 20px;">
          <div class="row">
            <div id="map_canvas" style="width: 90%; height: 200px;"></div>
          </div>
          <div class="row">
            <br />
            <table class="table">
              <% if @potd && !@potd.exif_at.nil? %>
              <tr>
                <td><b>Снято:</b></td>
                <td><%= @potd.exif_at.strftime('%Y-%m-%d %H:%M') %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>

        <% if @weather && @weather.t_url && @weather.p_url %>
        <div class="span5" style="padding-left: 10px;">
          <img src="<%= @weather.t_url.sub(/chs=600x150/, 'chs=350x100') %>" width="350", height="150" />
          <br />
          <br />
          <img src="<%= @weather.p_url.sub(/chs=600x150/, 'chs=350x100') %>" width="350", height="150" />
        </div>
        <% end %>
      </div>
    </div>
    <br />
    <br />

    <div class="row">
      <div id="disqus_thread"></div>
    </div>

  <br />
  <br />
  <div class="row">
    <div class="span7 well">
      <small>
        <h5>Правила раздела "даты"</h5>
        Правила простые: пишите о том, что можно (было) измерить или сфотографировать. Например про радуги, снегопады, ураганы, метеоритные дожди и температурные аномалии. Укажите по возможности и необходимости место, где наблюдалось явление или ссылку на источник, в котором это явление описано.
        <br />
      </small>
    </div>

<% end %>
