<% content_for :scripts do %>
  <script type="text/javascript" src="/js/dygraph-combined.js"></script>
  <script type="text/javascript">

    function data_url()
    {
      var data_url = '/data/dust.csv?r=' + new Date().getTime();
      return data_url;
    }

    jQuery(document).ready(function($) {
        graph = new Dygraph(
            document.getElementById('graph'),
            data_url(),
            {
                animatedZooms: true,
                legend: 'always',
                labelsDiv: 'graph_labels',
                labelsDivWidth: 400,
                hideOverlayOnMouseOut: false,
                gridLineColor: 'rgb(213,213,213)',
                // fillGraph: true,
                // labels: City.active_names(),
                rollPeriod: 3,
                // showRoller: true,
                logscale: true,
                clickCallback: function(a,b,c) {graph.updateOptions({logscale: !graph.getOption('logscale')})},
                axisLabelFontSize: 13,
                labelsSeparateLines: true,
                // drawGapEdgePoints: true,
                connectSeparatedPoints: false,
                customBars: true,
            }
        );
    });
  </script>
<% end %>

  <%
    labels = ['отлично','хорошо','нормально','плохо','очень плохо']
    arrows = ['⤵', '&#x2192;', '⤴']
    dc1100_values = [0, 75, 300, 1050, 3000]
    quant_values = [0]
    (0..3).each do |i|
      quant_values << @d1_stat.quant(i)
    end
  %>

  <div class="row">
    <div class="span12 offset1">
      <h4>Текущяя ситуация:</h4><br />
      <div class="span2">
        <div class="row">
          <small>Пыль &lt; 2.5 µm</small>
        </div>
        <div class="row">
          <h2><%= @current.d1 %> <span style="color: silver;"><%= arrows[@d1_stat.direction + 1] %></span></h2>
        </div>
        <div class="row">
          <span class="badge badge-<%= @d1_stat.level(@current.d1).level_class %>"><a href="#how_many_is_many" style="color: white;"><%= labels[@d1_stat.level(@current.d1)] %></a></span>
          <br />
          <small>n*100/ft³ <code><%= @current.ts_to_s('%H:%M') %></code></small>
        </div>
      </div>
      <div class="span2">
        <div class="row">
          <small>Пыль &gt; 2.5 µm</small>
        </div>
        <div class="row">
          <h2><%= @current.d2 %> <span style="color: silver;"><%= arrows[@d2_stat.direction + 1] %></span></h2>
        </div>
        <div class="row">
          <span class="badge badge-<%= @d2_stat.level(@current.d2).level_class %>"><a href="#how_many_is_many" style="color: white;"><%= labels[@d2_stat.level(@current.d2)] %></a></span>
          <br />
          <small>n*100/ft³ <code><%= @current.ts_to_s('%H:%M') %></code></small>
        </div>
      </div>
      <div class="span2">
        <div class="row">
          <small>Последний дождь</small>
        </div>
        <div class="row">
          <h2><%= @rain.milimiters %></h2>
        </div>
        <div class="row">
        <small>мм<% if @rain.is_falling %>, <span class="alert">идет сейчас</span><% end %>
            <br />
            <code><%= @rain.started_at('%Y-%m-%d').to_s + '/' + @rain.duration.to_s %></code>
          </small>
        </div>
      </div>
      <div class="span4">
        После 10 сентября пыль растёт. Начиная с 13-го уровень находится в красной зоне (плохо). Будем надеяться, обещаный на выходные дождь помоет воздух, пока что можно посоветовать спортом поехать заниматься за город. 
        &nbsp;
        <small>15.09.2012</small>
        <a href="https://twitter.com/vozduh_msk" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @vozduh_msk</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
  </div>

  <!-- graph -->
  <div class="row">
    <div class="span3 offset1"><br /><br /><h4>Пыль и дождь:</h4><br /></div>
    <div class="span9" id="graph" style="width: 80%;"></div>
  </div>
  <br />
  <div class="row">
    <div class="span3 offset1" id="graph_labels"></div>
    <div class="span6">
      <small>
        Значения уровней пыли везде на этих страничках измеряют количество пылинок в кубическом <b>футе</b> воздуха, делённое на 100. Чтобы получить штуки пылинок в кубическом <b>метре</b> воздуха, надо умножить приведённые значения примерно на 3. Или точно на 2.8316846.
      </small>
    </div>
  </div>
  <br />

  <div class="row well">
    <div class="span9 offset1">
      Кстати: на сайте появилась статья о том, <a href="/texts/way_of_dust">как движется пыль внутри тела человека</a>. 
    </div>
  </div>

  <div class="row">
    <div class="span9 offset1">
      <p>
      Что означают эти красивые графики? Во-первых то, что в московском воздухе есть пыль. Её довольно много. Во-вторых то, что её уровень меняется день ото дня. На графике внизу показано, как меняется уровень мелкой пыли в зависимости от дня недели. Видно, что максимальный уровень достигался в середине недели, в районе среды-четверга. Скорее всего, бегать и кататься на велосипеде в начале этой осени лучше было с субботы до вторника. На первой неделе сентября минимальный уровень наблюдался в воскресенье-понедельник.  Наш аналитический отдел постарается и дальше давать ценные прогнозы на прошлое. И может быть даже на настоящее (в конце второй сентябрьской недели, кстати, уровень устойчиво растёт), следите за новостями.
      </p>
      <img src="/img/weekly_filtered.png" width="786" height="214" />
    </div>
  </div>


  <br />
  <br />
  <a name="how_many_is_many"></a>
  <div class="row">
    <div class="span9 offset1">
      <p>
      Что значит <span class="badge badge-important">много пыли</span> или <span class="badge badge-warning">нормально</span>? Много по сравнению с чем? Есть два способа ответить на этот вопрос. Во-первых на него дает ответ производитель прибора, измеряющего пыль. Например, он определённо считает, что состояние воздуха, соответствующее величинам от 1050 до 3000 характеризуется словом "плохое". С другой стороны, мы можем исходить из того, что у нас бывает <em>обычно</em>, т.е. из истории наблюдений. 75 раз из 100 померяв в Москве уровень пыли мы увидим значение больше 1000. Поэтому сейчас количество пыли от <%= quant_values[2] %> до <%= quant_values[3] %> мы считаем <em>нормальным</em>, именно потому, что в половине измерений мы увидим уровень существенно выше. Мы оцениваем уровень загрязнения и присваиваем цветные таблички под цифрами наверху вторым способом.
      </p>
      
      <p>
      <br />
      <br />
        Если свести эти цифры воедино, то получится следующее (строка, соответствующая текущему уровню, подсвечена зеленым):
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Качество воздуха</th>
              <th>По паспорту прибора</th>
              <th>По опыту измерений</th>
            </tr>
          </thead>
          <tbody>
          <% (0..3).each do |i| %>
            <tr<%= @current.d1.between?(quant_values[i], quant_values[i+1])? ' class="success"' : '' %>>
              <td><span class="badge badge-<%= @d1_stat.level(quant_values[i+1]).level_class %>"><%= labels[i] %></span></td>
              <td><%= dc1100_values[i] %>-<%= dc1100_values[i+1] %></td>
              <td><%= quant_values[i] %>-<%= quant_values[i+1] %></td>
            </tr>
          <% end %>
            <tr<%= (@current.d1 > quant_values.last)? ' class="success"' : '' %>>
              <td><span class="badge badge-inverse">очень плохо</span></td>
              <td><%= dc1100_values.last %>+</td>
              <td><%= quant_values.last %>+</td>
            </tr>
          </tbody>
        </table>
      </p>
    </div>
  </div>


  <br />
  <br />
  <div class="row">
    <div class="span10 offset1">
      <h4>Последние страницы дневника.</h4>
      Цифры хороши тем, что точно описывают измеряемые параметры. Но ничто не заменит теплый <s>ламповый</s> взгляд на природу. Вот так выглядел московский воздух в последние дни. Картинки ссылаются на странички "дневника". Там тоже интересно.
      <br />
      <br />
      <% @potds.reverse.each do |p| %>
        <div class="span3">
          <a href="/date/<%= p.found_for.date_path %>"><%= p.to_html %></a>
          <br />
          <%= p.created_at %>
        </div>
      <% end %>
    </div>
    <br />
  </div>
