<% content_for :scripts do %>
  <script type="text/javascript" src="/js/dygraph-combined.js"></script>
  <script type="text/javascript">

    function data_url()
    {
      var data_url = '/data/dust.csv';
      return data_url;
    }

    jQuery(document).ready(function($) {
        graph = new Dygraph(
            document.getElementById('graph'),
            data_url(),
            {
                animatedZooms: true,
                labelsDiv: 'graph_labels',
                labelsDivWidth: 400,
                hideOverlayOnMouseOut: false,
                gridLineColor: 'rgb(213,213,213)',
                fillGraph: true,
                // labels: City.active_names(),
                rollPeriod: 10,
                // showRoller: true,
                logscale: true,
                clickCallback: function(a,b,c) {graph.updateOptions({logscale: !graph.getOption('logscale')})},
                axisLabelFontSize: 13,
                drawGapEdgePoints: true,
                connectSeparatedPoints: true,
            }
        );
    });
  </script>
<% end %>

<% content_for :stylesheets do %>
    <!-- css -->
<% end %>

  <!-- informer -->
  <% labels = ['отлично','хорошо','нормально','выше нормы','плохо','очень плохо'] %>
  <% arrows = ['⤵', '&#x2192;', '⤴'] %>

  <div class="row">
    <div class="span9 offset1">
      <h4>Текущие значения:</h4><br />
      <div class="span2">
        <div class="row">
          <small>Пыль &lt; 2.5 µm</small>
        </div>
        <div class="row">
          <h2><%= @current.d1 %> <span style="color: silver;"><%= arrows[@d1_stat.direction + 1] %></span></h2>
        </div>
        <div class="row">
          <span class="badge badge-<%= @d1_stat.level(@current.d1).level_class %>"><%= labels[@d1_stat.level(@current.d1)] %></span>
          <br />
          <small>n*100/ft³ <code><%= @current.ts_to_s('%H:%M') %></code></small>
        </div>
      </div>
      <div class="span2">
        <div class="row">
          <small>Пыль &gt; 2.5 µm</small>
        </div>
        <div class="row">
          <h2><%= @current.d2 %> <span style="color: silver;"><%= arrows[@d2_stat.direction + 1] %></span></h2>
        </div>
        <div class="row">
          <span class="badge badge-<%= @d2_stat.level(@current.d2).level_class %>"><%= labels[@d2_stat.level(@current.d2)] %></span>
          <br />
          <small>n*100/ft³ <code><%= @current.ts_to_s('%H:%M') %></code></small>
        </div>
      </div>
      <div class="span2 divider-vertical"></div>
      <div class="span2">
        <div class="row">
          <small>Последний дождь</small>
        </div>
        <div class="row">
          <h2><%= @rain.milimiters %></h2>
        </div>
        <div class="row">
          <small>мм
            <br />
            <code><%= @rain.started_at('%Y-%m-%d %H:%M') + '/' + @rain.duration %></code>
          </small>
        </div>
      </div>
      <% if @rain.is_falling %>
      <div class="span2 alert">
        Сейчас идет дождь.
      </div>
    <% end %>
    </div>
  </div>

  <!-- graph -->
  <div class="row">
    <div class="span3 offset1"><br /><br /><h4>Пыль и дождь:</h4><br /></div>
    <div class="span9" id="graph" style="width: 80%;"></div>
  </div>
  <br />
  <div class="row">
    <div class="span6 offset1" id="graph_labels"></div>
  </div>

  <br />

  <div class="row">
      <div class="span4 offset1">
        Производитель прибора, измеряющего уровни пыли в воздухе, приводит следующие характеристики для значений мелкой пыли:
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Количество</th>
              <th>Качество воздуха</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>3000+</td>
              <td>Очень плохое</td>
            </tr>
            <tr>
              <td>1050-3000</td>
              <td>Плохое</td>
            </tr>
            <tr>
              <td>300-1050</td>
              <td>Нормальное</td>
            </tr>
            <tr>
              <td>150-300</td>
              <td>Хороше</td>
            </tr>
            <tr>
              <td>75-150</td>
              <td>Очень хорошее</td>
            </tr>
            <tr>
              <td>0-75</td>
              <td>Отличное</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="span4">
        Исторически наши измерения дают следущие <a href="http://ru.wikipedia.org/wiki/%D0%9A%D0%B2%D0%B0%D0%BD%D1%82%D0%B8%D0%BB%D1%8C">квантили</a> (т.е. грубо говоря вероятности встретить воздух соответствующей "пыльности"). <span class="badge badge-info">Метки</span> качества воздуха у текущих значений выше проставлены в соответствии с этой табличкой.
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Процент</th>
              <th>Значение &lt; 2.5 µm</th>
              <th>Значение &gt; 2.5 µm</th>
            </tr>
          </thead>
          <tbody>
            <% (0..4).each do |i| %>
            <tr>
              <td><%= i*25 %>%</td>
              <td><%= @d1_stat.quant(i) %></td>
              <td><%= @d2_stat.quant(i) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
  </div>
